@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Здравейте,</h1>
    <p>Ако и вие като мен сте тръгнали да си търсите работа като ПРОГРАМИСТ/широко понятие наистина/, хайде да разбием вече тези досадни DEV интервюта!</p>
    <p>Тук е мястотото за споделяне какви въпроси са ви задали на техническото интервю или какви въпроси очаквате да ви зададат...</p>
<p>Enjoy!</p>
</div>
