@model Interview.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Информациа</h1>

<div>
    <h4>Въпрос</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemQuestion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemAnswer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактирай</a> |
    <a asp-action="Index">Обратно към въпросите</a>
</div>
